<div class="flex">
  <div
    class="flex w-full flex-col items-center justify-start gap-6 p-8 font-readex"
  >
    <div
      class="flex w-full items-center justify-between border-b border-gray-200 pb-6"
    >
      <button
        (click)="isAddingTask = true"
        class="flex items-center justify-center rounded-lg bg-blue-600 px-4 pb-2.5 pt-2 text-center text-base font-normal leading-relaxed text-white"
      >
        إضافة مهام
      </button>
      <div class="text-center text-2xl font-normal leading-9 text-gray-700">
        لوحة التحكم
      </div>
    </div>
    <div class="flex h-72 w-full items-start justify-between gap-6">
      <div
        class="flex h-72 w-1/2 flex-col items-end justify-start gap-6 rounded-lg border border-gray-200 px-6 py-4 shadow-sm"
      >
        <app-chart class="w-full"></app-chart>
      </div>
      <app-task-statistics class="w-1/2"></app-task-statistics>
    </div>
    <div
      class="flex w-full flex-col items-start justify-start rounded-xl border border-gray-200 bg-white"
    >
      <div class="flex items-center justify-between self-stretch px-6 py-4">
        <div
          routerLink="/researchers"
          class="flex items-center justify-center gap-2 rounded-lg border border-gray-300 bg-white px-4 py-2.5 shadow-sm cursor-pointer"
        >
          <img src="assets/arrow.svg" alt="icon" />
          <div class="text-sm font-medium leading-snug text-gray-600">
            جميع الباحثين
          </div>
        </div>
        <div class="text-2xl font-normal leading-9 text-black">
          قائمة الباحثين
        </div>
      </div>

      <div class="flex items-center justify-end gap-4 self-stretch">
        <table class="min-w-full rounded-xl bg-white" dir="rtl">
          <thead class="border-y border-gray-200">
            <tr
              class="w-full self-stretch border-b border-gray-200 text-right text-sm text-gray-600"
            >
              <th class="w-[270px] px-6 py-4 font-medium">اسم الباحث</th>
              <th class="w-[270px] px-6 py-4 font-medium">المهام المكلف بها</th>
              <th class="w-[270px] px-6 py-4 font-medium">المهام المنجزة</th>
              <th class="w-[270px] px-6 py-4 font-medium">نسبة الإنجاز</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="text-gray-600">
            <tr
              *ngFor="
                let researcher of researchers.slice(0, 3);
                let i = index;
                let last = last
              "
              [ngClass]="{
                'bg-gray-50': i % 2 === 0,
                'bg-white': i % 2 !== 0,
                'rounded-b-xl border-b border-gray-200': !last,
              }"
              class="h-20 text-sm font-medium"
            >
              <td class="px-6 py-4">
                <div class="flex items-center gap-3 text-gray-800">
                  <img src="assets/person.svg" alt="icon" />
                  {{ researcher.user_name }}
                </div>
              </td>
              <td class="px-6 py-4">
                <div class="flex items-center text-gray-800">
                  {{ researcher.user_all_videos }} فيديو
                </div>
              </td>
              <td class="px-6 py-4">
                <div class="flex items-center text-gray-800">
                  {{ researcher.user_videos_done }} فيديو
                </div>
              </td>
              <td class="px-6 py-4">
                <div class="flex items-center">
                  <div class="ml-4 h-2.5 w-44 rounded-full bg-gray-200">
                    <div
                      class="h-2.5 rounded-full bg-blue-600"
                      [style.width.%]="
                        calculateCompletionPercentage(
                          researcher.user_videos_done,
                          researcher.user_all_videos
                        )
                      "
                    ></div>
                  </div>
                  <span
                    >{{
                      calculateCompletionPercentage(
                        researcher.user_videos_done,
                        researcher.user_all_videos
                      )
                    }}%</span
                  >
                </div>
              </td>
              <td
                (click)="onEditTask(researcher.user_id)"
                class="flex h-20 cursor-pointer items-center justify-center"
              >
                <img src="assets/edit.svg" alt="icon" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <app-pagination class="w-full" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" (pageChange)="setPage($event)"></app-pagination> -->
    </div>
  </div>
  <div class="w-[300px]">
    <app-sidebar></app-sidebar>
  </div>
</div>
<app-add-tasks
  *ngIf="isAddingTask"
  (close)="isAddingTask = false"
  (taskAdded)="onTaskAdded()"
></app-add-tasks>
<app-edit-tasks
  *ngIf="isEditingTask"
  [defaultUserId]="selectedUserId"
  (close)="isEditingTask = false"
  (taskEdited)="onTaskEdited()"
></app-edit-tasks>
