<div class="flex">
  <div
    class="flex w-full flex-col items-center justify-start gap-6 p-8 font-readex"
  >
    <div
      class="flex w-full items-center justify-between border-b border-gray-200 pb-6"
    >
      <div
        class="flex items-center justify-center rounded-lg bg-blue-600 px-4 pb-2.5 pt-2 text-center text-base font-normal leading-relaxed text-white"
      >
        إضافة مهام
      </div>
      <div class="text-center text-2xl font-normal leading-9 text-gray-700">
        لوحة التحكم
      </div>
    </div>
    <div class="flex h-72 w-full items-start justify-between gap-6">
      <div
        class="flex h-72 w-1/2 flex-col items-end justify-start gap-6 rounded-lg border border-gray-200 px-6 py-4 shadow-sm"
      >
        <div class="text-center text-2xl font-normal leading-9 text-gray-700">
          الرسم البياني للمهام
        </div>
        <div
          class="flex h-[175px] flex-col items-start justify-start gap-3 self-stretch"
        >
          <div class="relative h-[155px] w-[488px]">
            <div
              class="absolute left-0 top-0 inline-flex h-[155px] w-[488px] items-center justify-start gap-3"
            >
              <div class="relative h-[145.23px] shrink grow basis-0">
                <div
                  class="absolute left-0 top-[4.24px] h-[140.09px] w-[454px]"
                ></div>
                <div
                  class="absolute left-[1.70px] top-0 h-[145.23px] w-[452.30px]"
                ></div>
              </div>
              <div
                class="text-black/opacity-30 text-right text-xs font-normal leading-[18.16px]"
              >
                500<br /><br />300<br /><br />200<br /><br />100<br /><br />50
              </div>
            </div>
            <div
              class="absolute left-[281px] top-[29px] h-[17.08px] w-[17.08px]"
            >
              <div
                class="absolute left-0 top-0 h-[17.08px] w-[17.08px] rounded-full bg-white shadow"
              ></div>
              <div
                class="absolute left-[4.13px] top-[4.37px] h-[8.54px] w-[8.54px] rounded-full bg-purple-700 shadow"
              ></div>
            </div>
          </div>
          <div class="inline-flex w-[451px] items-center justify-end gap-4">
            <div
              class="text-right text-xs font-normal leading-[18.16px] text-gray-500"
            >
              يونيو
            </div>
            <div
              class="text-right text-xs font-normal leading-[18.16px] text-gray-500"
            >
              مايو
            </div>
            <div
              class="text-right text-xs font-normal leading-[18.16px] text-gray-500"
            >
              أبريل
            </div>
            <div
              class="text-right text-xs font-normal leading-[18.16px] text-gray-500"
            >
              مارس
            </div>
            <div
              class="text-right text-xs font-normal leading-[18.16px] text-gray-500"
            >
              فبراير
            </div>
            <div
              class="text-right text-xs font-normal leading-[18.16px] text-gray-500"
            >
              يناير
            </div>
          </div>
        </div>
      </div>
      <app-task-statistics class="w-1/2"></app-task-statistics>
    </div>
    <div
      class="flex w-full flex-col items-start justify-start rounded-xl border border-gray-200 bg-white"
    >
      <div class="flex items-center justify-between self-stretch px-6 py-4">
        <div
          class="flex items-center justify-center gap-2 rounded-lg border border-gray-300 bg-white px-4 py-2.5 shadow-sm"
        >
          <img src="assets/arrow.svg" alt="icon" />
          <div class="text-sm font-medium leading-snug text-gray-600">
            جميع الباحثين
          </div>
        </div>
        <div class="text-2xl font-normal leading-9 text-black">
          قائمة الباحثين
        </div>
      </div>

      <div class="flex items-center justify-end gap-4 self-stretch">
        <table class="min-w-full rounded-xl bg-white" dir="rtl">
          <thead class="border-y border-gray-200">
            <tr
              class="w-full self-stretch border-b border-gray-200 text-right text-sm text-gray-600"
            >
              <th class="w-[270px] px-6 py-4 font-medium">اسم الباحث</th>
              <th class="w-[270px] px-6 py-4 font-medium">المهام المكلف بها</th>
              <th class="w-[270px] px-6 py-4 font-medium">المهام المنجزة</th>
              <th class="w-[270px] px-6 py-4 font-medium">نسبة الإنجاز</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="text-gray-600">
            <tr
              *ngFor="
                let researcher of researchers.slice(0, 3);
                let i = index;
                let last = last
              "
              [ngClass]="{
                'bg-gray-50': i % 2 === 0,
                'bg-white': i % 2 !== 0,
                'border-b border-gray-200 rounded-b-xl': !last,
              }"
              class="h-20 text-sm font-medium"
            >
              <td class="px-6 py-4">
                <div class="flex items-center gap-3 text-gray-800">
                  <img src="assets/person.svg" alt="icon" />
                  {{ researcher.user_name }}
                </div>
              </td>
              <td class="px-6 py-4">
                <div class="flex items-center text-gray-800">
                  {{ researcher.user_all_videos }} فيديو
                </div>
              </td>
              <td class="px-6 py-4">
                <div class="flex items-center text-gray-800">
                  {{ researcher.user_videos_done }} فيديو
                </div>
              </td>
              <td class="px-6 py-4">
                <div class="flex items-center">
                  <div class="ml-4 h-2.5 w-44 rounded-full bg-gray-200">
                    <div
                      class="h-2.5 rounded-full bg-blue-600"
                      [style.width.%]="
                        calculateCompletionPercentage(
                          researcher.user_videos_done,
                          researcher.user_all_videos
                        )
                      "
                    ></div>
                  </div>
                  <span
                    >{{
                      calculateCompletionPercentage(
                        researcher.user_videos_done,
                        researcher.user_all_videos
                      )
                    }}%</span
                  >
                </div>
              </td>
              <td>
                <img src="assets/edit.svg" alt="icon" class="cursor-pointer" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <app-pagination class="w-full" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" (pageChange)="setPage($event)"></app-pagination> -->
    </div>
  </div>
  <!-- <div class="w-[300px] fixed right-0"> -->
  <div class="w-[300px]">
    <app-sidebar></app-sidebar>
  </div>
</div>
