<div
  (click)="close.emit()"
  class="fixed left-0 top-0 z-50 flex h-full w-full items-center justify-center bg-black bg-opacity-70 font-readex"
>
  <div
    (click)="onClickInside($event)"
    class="flex w-[500px] flex-col items-center justify-center gap-5 rounded-2xl border border-gray-200 bg-white p-6"
  >
    <div>
      <div class="relative left-60 cursor-pointer" (click)="close.emit()">
        <img src="assets/gray-close.svg" alt="icon" />
      </div>
      <div class="flex h-20 w-20 items-center justify-center">
        <div
          class="flex items-center justify-center rounded-full border border-b-0 bg-gradient-to-b from-gray-100 to-white p-4"
        >
          <div
            class="flex h-12 w-12 items-center justify-center rounded-full border bg-white shadow-sm"
          >
            <img class="h-5 w-5" src="assets/add-task.svg" alt="icon" />
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center gap-2">
      <div class="text-[32px] font-medium leading-[44.80px]">إضافة مهمة</div>
    </div>
    <form
      [formGroup]="addTaskForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col items-start justify-start gap-4 self-stretch"
    >
      <div class="flex flex-col items-start justify-start gap-5 self-stretch">
        <div class="flex flex-col items-start justify-start gap-2 self-stretch">
          <div class="flex items-center justify-end gap-2 self-stretch">
            <div
              class="shrink grow basis-0 text-right text-sm font-medium leading-snug text-gray-800"
            >
              اختر الباحث
            </div>
          </div>
          <div
            class="flex items-center justify-start gap-2 self-stretch rounded-lg border border-zinc-200 bg-white px-3 py-2"
          >
            <select
              dir="rtl"
              class="shrink grow basis-0 text-right text-base font-normal leading-relaxed text-gray-500 outline-none"
              formControlName="researcher"
            >
              <option value="" disabled selected>اختر الباحث</option>
              <option
                *ngFor="let researcher of researchers"
                [value]="researcher.user_id"
              >
                {{ researcher.user_name }}
              </option>
            </select>
          </div>
          <div
            *ngIf="
              addTaskForm.get('researcher')?.invalid &&
              (addTaskForm.get('researcher')?.dirty ||
                addTaskForm.get('researcher')?.touched)
            "
            class="text-red-600"
          >
            اسم الباحث مطلوب
          </div>
        </div>
        <div class="flex flex-col items-end justify-end gap-4 self-stretch">
          <div class="flex items-center justify-start gap-6">
            <div class="flex items-center justify-start gap-1.5">
              <div
                class="text-right text-base font-normal leading-snug text-black"
              >
                فردي
              </div>
              <input
                type="radio"
                name="taskType"
                value="individual"
                formControlName="taskType"
                class="h-5 w-5"
              />
            </div>
            <div class="flex items-center justify-start gap-1.5">
              <div
                class="text-right text-base font-normal leading-snug text-black"
              >
                متعدد
              </div>
              <input
                type="radio"
                name="taskType"
                value="multiple"
                formControlName="taskType"
                class="h-5 w-5"
                checked
              />
            </div>
          </div>
        </div>
        <div
          *ngIf="addTaskForm.get('taskType')?.value === 'multiple'"
          class="flex items-start justify-start gap-3 self-stretch"
        >
          <div
            class="flex w-1/2 flex-col items-end justify-start gap-2 self-stretch"
          >
            <div class="flex items-center justify-start gap-2">
              <div class="text-right text-sm font-medium leading-snug">إلى</div>
            </div>
            <div
              class="flex items-center justify-start gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2"
            >
              <input
                type="number"
                formControlName="to"
                class="text-right text-base font-normal leading-relaxed text-[#666d80] outline-none"
                (focus)="clearInitialValue('to')"
                placeholder="0"
              />
            </div>
            <div
              *ngIf="
                addTaskForm.get('to')?.invalid &&
                (addTaskForm.get('to')?.dirty || addTaskForm.get('to')?.touched)
              "
              class="text-red-600"
            >
              إلى الفيديوهات مطلوب
            </div>
          </div>
          <div class="flex w-1/2 flex-col items-end justify-start gap-2">
            <div class="flex items-center justify-start gap-2">
              <div
                class="shrink grow basis-0 text-right text-sm font-medium leading-snug"
              >
                من
              </div>
            </div>
            <div
              class="flex items-center justify-start gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2"
            >
              <input
                type="number"
                formControlName="from"
                class="text-right text-base font-normal leading-relaxed text-[#666d80] outline-none"
                (focus)="clearInitialValue('from')"
                placeholder="0"
              />
            </div>
            <div
              *ngIf="
                addTaskForm.get('from')?.invalid &&
                (addTaskForm.get('from')?.dirty ||
                  addTaskForm.get('from')?.touched)
              "
              class="text-red-600"
            >
              من الفيديوهات مطلوب
            </div>
          </div>
        </div>
        <div
          *ngIf="fromToVideosError"
          class="flex justify-end self-stretch text-sm"
        >
          <span class="text-red-600">{{ fromToVideosError }}</span>
        </div>
        <div
          *ngIf="addTaskForm.get('taskType')?.value === 'individual'"
          class="flex w-full items-start justify-start gap-3 self-stretch"
        >
          <div
            class="flex shrink grow basis-0 flex-col items-end justify-start gap-1.5"
          >
            <div class="flex items-center justify-start gap-2 self-stretch">
              <div
                class="shrink grow basis-0 text-right text-sm font-medium leading-snug"
              >
                عدد الفيديوهات
              </div>
            </div>
            <div
              [ngClass]="{
                'border-red-500': videosNumbersError,
                'border-gray-200': !videosNumbersError,
              }"
              class="flex items-center justify-start gap-2 self-stretch rounded-lg border bg-white px-3 py-2"
            >
              <input
                type="number"
                formControlName="videosNumbers"
                class="w-full text-right text-base font-normal leading-relaxed text-[#666d80] outline-none"
                (focus)="clearInitialValue('videosNumbers')"
                placeholder="0"
              />
            </div>
            <div
              *ngIf="
                addTaskForm.get('videosNumbers')?.invalid &&
                (addTaskForm.get('videosNumbers')?.dirty ||
                  addTaskForm.get('videosNumbers')?.touched)
              "
              class="w-full text-red-600"
            >
              عدد الفيديوهات مطلوب
            </div>
            <div
              *ngIf="videosNumbersError"
              class="flex justify-end self-stretch text-sm"
            >
              <span class="text-red-600">{{ videosNumbersError }}</span>
            </div>
          </div>
        </div>
        <button
          type="submit"
          [ngClass]="{
            'cursor-pointer bg-blue-600': addTaskForm.valid,
            'cursor-not-allowed bg-gray-400': addTaskForm.invalid,
          }"
          [disabled]="addTaskForm.invalid"
          class="flex h-[52px] items-center justify-center gap-2 self-stretch rounded-xl px-4 py-2"
        >
          <div
            class="text-center text-base font-medium leading-relaxed text-white"
          >
            اضف الان
          </div>
        </button>
      </div>
    </form>
  </div>
</div>
