<div
  class="flex items-center justify-between self-stretch border-gray-300 px-6 py-4"
>
  <button
    class="flex cursor-pointer items-start justify-center gap-1.5 rounded-lg border border-gray-300 bg-white px-3.5 py-2 text-sm font-normal leading-tight text-slate-700 shadow"
    [ngClass]="{
      'cursor-not-allowed': currentPage === 1,
      'cursor-pointer': currentPage !== 1,
    }"
    [disabled]="currentPage === 1"
    (click)="onPageChange(currentPage - 1)"
  >
    <div class="relative h-5 w-5">
      <img src="assets/left-arrow.svg" alt="icon" />
    </div>
    السابق
  </button>
  <div class="flex items-start justify-start gap-0.5">
    <!-- <span
      *ngFor="let page of totalPagesArray()"
      class="flex cursor-pointer items-center justify-center"
    >
      <a
        class="flex h-10 w-10 items-center justify-center rounded-lg"
        (click)="onPageChange(page)"
        [class.active]="page === currentPage"
      >
        {{ page }}
      </a>
    </span> -->

    <ng-container *ngFor="let page of totalPagesArray()">
      <ng-container *ngIf="page === '...'">
        <a
          class="flex h-10 w-10 items-center justify-center rounded-lg"
          (click)="onPageChange(page)"
        >...</a>
      </ng-container>
      <ng-container *ngIf="page !== '...'">
        <a
          class="flex h-10 w-10 items-center justify-center rounded-lg"
          (click)="onPageChange(page)"
          [class.active]="page === currentPage"
        >
          {{ page }}
        </a>
      </ng-container>
    </ng-container>
  </div>
  <div class="flex items-start justify-start rounded-lg">
    <!-- <button
      class="flex cursor-pointer items-start justify-center gap-1.5 rounded-lg border border-gray-300 bg-white px-3.5 py-2 text-sm font-normal leading-tight text-slate-700 shadow"
      [ngClass]="{
        'cursor-not-allowed': currentPage === totalPagesArray().length || totalPagesArray().length === 0,
        'cursor-pointer': currentPage !== totalPagesArray().length,
      }"
      [disabled]="currentPage === totalPagesArray().length || totalPagesArray().length === 0"
      (click)="onPageChange(currentPage + 1)"
    > -->
    <button
      class="flex cursor-pointer items-start justify-center gap-1.5 rounded-lg border border-gray-300 bg-white px-3.5 py-2 text-sm font-normal leading-tight text-slate-700 shadow"
      [ngClass]="{
        'cursor-not-allowed': currentPage === totalPages || totalPages === 0,
        'cursor-pointer': currentPage !== totalPages,
      }"
      [disabled]="currentPage === totalPages || totalPages === 0"
      (click)="onPageChange(currentPage + 1)"
    >
      التالي
      <div class="relative h-5 w-5">
        <img src="assets/right-arrow.svg" alt="icon" />
      </div>
    </button>
  </div>
</div>
