<div
  class="font-readex flex h-screen w-full items-center justify-center bg-white"
>
  <div
    class="flex h-[550px] w-full items-center justify-center bg-center bg-no-repeat"
    style="background-image: url(&quot;assets/Background.png&quot;)"
  >
    <div
      class="flex h-[530px] w-[480px] flex-col items-center justify-between gap-6 rounded-2xl border border-zinc-200 bg-white p-6 shadow"
    >
      <div class="flex items-center justify-center w-20 h-20">
        <div
          class="flex items-center justify-center rounded-full bg-gradient-to-b from-gray-100 to-white border border-b-0 p-4"
        >
          <div
            class="flex items-center justify-center w-12 h-12 rounded-full bg-white border  shadow-sm"
          >
            <img class="h-5 w-5" src="assets/login-icon.svg" alt="icon">
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center justify-center gap-2">
        <div
          class="text-2xl font-normal leading-9 text-gray-800"
        >
          تسجيل الدخول إلى حسابك
        </div>
        <div
          class="w-[432px] text-center text-base font-normal leading-relaxed text-gray-500"
        >
          أدخل بياناتك لتسجيل الدخول
        </div>
      </div>
      <form
        [formGroup]="loginForm" (ngSubmit)="onSubmit()"
        class="flex flex-col items-start justify-start gap-4 self-stretch"
      >
        <div
          class="flex h-[70px] flex-col items-start justify-start gap-1.5 self-stretch"
        >
          <div class="flex items-center justify-end gap-2 self-stretch">
            <div
              class="shrink grow basis-0 text-right text-sm font-medium leading-snug text-gray-800"
            >
              البريد الإلكتروني
            </div>
          </div>
          <div
            class="flex items-center justify-start gap-2 self-stretch rounded-lg border border-zinc-200 bg-white px-3 py-2"
          >
            <input
              formControlName="email" type="email"
              placeholder="Ex:z&#64;financial.com"
              class="shrink grow basis-0 text-right text-base font-normal leading-relaxed text-gray-500 outline-none"
            >
            <div class="relative h-5 w-5">
              <img src="assets/email.svg" alt="icon">
            </div>
          </div>
          <div *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)" class="text-red-600 text-sm">
            <div *ngIf="loginForm.controls.email.errors.required">البريد الإلكتروني مطلوب</div>
            <div *ngIf="loginForm.controls.email.errors.email">البريد الإلكتروني غير صالح</div>
          </div>
        </div>
        <div
          class="flex h-[70px] flex-col items-start justify-start gap-1.5 self-stretch"
        >
          <div
            class="flex items-center justify-start gap-2 self-stretch"
          >
            <div
              class="shrink grow basis-0 text-right text-sm font-medium leading-snug text-gray-800"
            >
              كلمة المرور
            </div>
          </div>
          <div
            class="flex items-center justify-start gap-2 self-stretch rounded-lg border border-zinc-200 bg-white px-3 py-2"
          >
            <div class="relative h-5 w-5 cursor-pointer" (click)="togglePasswordVisibility()">
              <img src="assets/eye.svg" alt="icon">
            </div>
            <input formControlName="password" [type]="passwordFieldType"
            placeholder="أدخل كلمة المرور الخاصة بك هنا"
            class="shrink grow basis-0 text-right text-base font-normal leading-relaxed text-gray-500 outline-none"
            >
            <div class="relative h-5 w-5">
              <img src="assets/password.svg" alt="icon">
            </div>
          </div>
          <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)" class="text-red-600 text-sm">
            <div *ngIf="loginForm.controls.password.errors.required">كلمة المرور مطلوبة</div>
            <div *ngIf="loginForm.controls.password.errors.minlength">كلمة المرور يجب أن تكون على الأقل 6 أحرف</div>
          </div>
        </div>
        <div class="flex items-start justify-between self-stretch mt-3">
          <div
            class="text-base font-normal leading-relaxed text-blue-600 underline"
          >
            هل نسيت كلمة السر؟
          </div>
          <div class="flex items-center justify-center gap-2">
            <div
              class="text-base font-normal leading-relaxed text-zinc-600"
            >
              تذكرنى
            </div>
            <div
              class="relative flex items-center"
            >
              <input formControlName="remember" class="h-5 w-5" type="checkbox" name="remember" id="remember">
            </div>
          </div>
        </div>
        <button type="submit"
          [ngClass]="{
            'bg-blue-600 cursor-pointer': loginForm.valid,
            'bg-gray-400 cursor-not-allowed': loginForm.invalid
          }"
          [disabled]="loginForm.invalid"
          class="inline-flex h-[52px] items-center justify-center gap-2 self-stretch rounded-xl px-4"
        >
          <div
            class="text-center text-base font-medium leading-relaxed text-white"
          >
            تسجيل الدخول
          </div>
        </button>
      </form>
    </div>
  </div>
</div>
