<div class="flex">
  <div
    class="flex w-full flex-col items-end justify-start gap-6 p-8 font-readex"
  >
    <div
      class="flex items-center justify-between gap-2.5 self-stretch border-b border-gray-200 pb-7"
    >
      <div
        class="flex items-center justify-center rounded-lg bg-blue-600 px-4 pb-2.5 pt-2 text-center text-base font-normal leading-relaxed text-white cursor-pointer"
      >
        اضف باحث
      </div>
      <div class="text-center text-2xl font-normal leading-9 text-gray-700">
        قائمة الباحثين
      </div>
    </div>
    <div
      class="flex flex-col items-start justify-start self-stretch rounded-xl border border-gray-200 bg-white"
    >
      <div class="flex self-stretch px-6 py-4 justify-end">
        <div class="flex justify-between gap-2 rounded-lg border border-gray-200 p-2 shadow-sm">
          <input dir="rtl" type="text" placeholder="بحث بالباحث" class="w-56 outline-none" />
          <img src="assets/search.svg" alt="icon" />
        </div>
      </div>
      <div class="flex items-center justify-end gap-4 self-stretch">
        <table class="min-w-full bg-white" dir="rtl">
          <thead class="border-y border-gray-200">
            <tr
              class="w-full self-stretch border-b border-gray-200 text-right text-sm text-gray-600"
            >
              <th class="px-6 py-4 font-medium">اسم الباحث</th>
              <th class="px-6 py-4 font-medium">البريد الإلكتروني</th>
              <th class="px-6 py-4 font-medium">رقم الهاتف</th>
            </tr>
          </thead>
          <tbody class="text-gray-600">
            <tr
              *ngFor="let researcher of paginatedResearchers; let i = index"
              [ngClass]="{ 'bg-gray-50': i % 2 === 0, 'bg-white': i % 2 !== 0 }"
              class="h-20 border-b border-gray-200 text-sm font-medium"
            >
              <td class="px-6 py-4">
                <div class="flex items-center gap-3 text-gray-800">
                  <img src="assets/person.svg" alt="person">
                  {{ researcher.name }}
                </div>
              </td>
              <td class="px-6 py-4">
                <div class="flex items-center text-gray-800">
                  {{ researcher.email }}
                </div>
              </td>
              <td class="px-6 py-4">
                <div class="flex items-center text-gray-800">
                  {{ researcher.phone }}
                </div>
              </td>
              <td>
                  <img src="assets/edit.svg" alt="icon" class="cursor-pointer">
                </td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-pagination
        class="w-full"
        [totalItems]="totalItems"
        [itemsPerPage]="itemsPerPage"
        (pageChange)="setPage($event)"
      ></app-pagination>
    </div>
  </div>
  <div class="w-[300px]">
    <app-sidebar></app-sidebar>
  </div>
</div>
<div
    class="fixed left-0 top-0 z-50 flex h-full w-full items-center justify-center bg-black bg-opacity-50 font-readex"
    *ngIf="isClipDialogVisible"
  >
    <div
      class="flex h-72 w-[400px] flex-col items-center justify-between rounded-xl bg-white p-5 text-center"
    >
      <div
        class="inline-flex h-16 w-16 items-center justify-center rounded-full border-8 border-red-50 bg-red-100 p-3"
      >
        <div class="relative flex h-8 w-8 flex-col items-start justify-start">
          <img
            src="assets/dialog-delete.svg"
            alt="Delete icon"
            class="h-12 w-12"
          />
        </div>
      </div>
      <p class="text-2xl leading-loose">إزالة المقطع</p>
      <p class="text-[#475467]" dir="rtl">
        هل أنت متأكد أنك تريد حذف هذا المقطع؟ لا يمكن التراجع عن هذا الإجراء.
      </p>
      <div class="mt-5 flex justify-between gap-3 self-stretch">
        <button
          (click)="clipConfirmDelete()"
          class="w-1/2 cursor-pointer rounded-lg bg-red-500 px-5 py-2.5 text-white"
        >
          حذف
        </button>
        <button
          (click)="clipCancelDelete()"
          class="w-1/2 cursor-pointer rounded-lg border-2 border-[#D0D5DD] px-5 py-2.5 text-[#344054]"
        >
          إلغاء
        </button>
      </div>
    </div>
  </div>
