input[formControlName="videoLink"]::placeholder {
  color: #000;
}

input[formControlName="eventDate"]::placeholder,
input[formControlName="eventType"]::placeholder,
input[formControlName="country"]::placeholder,
input[formControlName="address"]::placeholder,
input[formControlName="caption"]::placeholder,
input[formControlName="thumbnail"]::placeholder,
input[formControlName="clipTitle"]::placeholder,
input[formControlName="personName"]::placeholder {
  @apply text-slate-500;
}

/* button:hover .tooltip {
  display: block;
} */


.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid white;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
