<div
  (click)="close.emit()"
  class="fixed left-0 top-0 z-50 flex h-full w-full items-center justify-center bg-black bg-opacity-70 font-readex"
>
  <div
    (click)="onClickInside($event)"
    class="inline-flex w-[480px] flex-col items-center justify-center gap-6 rounded-2xl border border-zinc-200 bg-white p-6 shadow"
  >
    <div class="flex h-20 w-20 items-center justify-center">
      <div
        class="flex items-center justify-center rounded-full border border-b-0 bg-gradient-to-b from-gray-100 to-white p-4"
      >
        <div
          class="flex h-12 w-12 items-center justify-center rounded-full border bg-white shadow-sm"
        >
          <img class="h-5 w-5" src="assets/register-user.svg" alt="icon" />
        </div>
      </div>
    </div>
    <form
      [formGroup]="editUserForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col items-start justify-start gap-4 self-stretch"
    >
      <div class="flex flex-col items-start justify-start gap-1.5 self-stretch">
        <div class="flex items-center justify-end gap-2 self-stretch">
          <div
            class="shrink grow basis-0 text-right text-sm font-medium leading-snug text-gray-800"
          >
            اسم المستخدم
          </div>
        </div>
        <div
          class="flex items-center justify-start gap-2 self-stretch rounded-lg border border-zinc-200 bg-white px-3 py-2"
        >
          <input
            formControlName="name"
            type="text"
            placeholder="ادخل اسم المستخدم"
            class="shrink grow basis-0 text-right text-base font-normal leading-relaxed text-gray-500 outline-none"
          />
          <div class="relative h-5 w-5">
            <img src="assets/user.svg" alt="icon" />
          </div>
        </div>
        <div
          *ngIf="
            editUserForm.controls.name.invalid &&
            (editUserForm.controls.name.dirty ||
              editUserForm.controls.name.touched)
          "
          class="text-sm text-red-600"
        >
          <div *ngIf="editUserForm.controls.name.errors.required">
            اسم الباحث مطلوب
          </div>
          <div *ngIf="editUserForm.controls.name.errors.name">
            اسم الباحث غير صالح
          </div>
        </div>
      </div>
      <div class="flex flex-col items-start justify-start gap-1.5 self-stretch">
        <div class="flex items-center justify-end gap-2 self-stretch">
          <div
            class="shrink grow basis-0 text-right text-sm font-medium leading-snug text-gray-800"
          >
            البريد الإلكتروني
          </div>
        </div>
        <div
          class="flex items-center justify-start gap-2 self-stretch rounded-lg border border-zinc-200 bg-white px-3 py-2"
        >
          <input
            formControlName="email"
            type="email"
            placeholder="Ex:z&#64;financial.com"
            class="shrink grow basis-0 text-right text-base font-normal leading-relaxed text-gray-500 outline-none"
          />
          <div class="relative h-5 w-5">
            <img src="assets/email.svg" alt="icon" />
          </div>
        </div>
        <div
          *ngIf="
            editUserForm.controls.email.invalid &&
            (editUserForm.controls.email.dirty ||
              editUserForm.controls.email.touched)
          "
          class="text-sm text-red-600"
        >
          <div *ngIf="editUserForm.controls.email.errors.required">
            البريد الإلكتروني مطلوب
          </div>
          <div *ngIf="editUserForm.controls.email.errors.email">
            البريد الإلكتروني غير صالح
          </div>
        </div>
      </div>
      <div
        class="flex h-[70px] flex-col items-start justify-start gap-1.5 self-stretch"
      >
        <div class="flex items-center justify-start gap-2 self-stretch">
          <div
            class="shrink grow basis-0 text-right text-sm font-medium leading-snug text-gray-800"
          >
            كلمة المرور
          </div>
        </div>
        <div
          class="flex items-center justify-start gap-2 self-stretch rounded-lg border border-zinc-200 bg-white px-3 py-2"
        >
          <div
            class="relative h-5 w-5 cursor-pointer"
            (click)="togglePasswordVisibility()"
          >
            <img src="assets/eye.svg" alt="icon" />
          </div>
          <input
            formControlName="password"
            [type]="passwordFieldType"
            placeholder="أدخل كلمة المرور الخاصة بالمستخدم"
            class="shrink grow basis-0 text-right text-base font-normal leading-relaxed text-gray-500 outline-none"
          />
          <div class="relative h-5 w-5">
            <img src="assets/password.svg" alt="icon" />
          </div>
        </div>
        <div
          *ngIf="
            editUserForm.controls.password.invalid &&
            (editUserForm.controls.password.dirty ||
              editUserForm.controls.password.touched)
          "
          class="text-sm text-red-600"
        >
          <div *ngIf="editUserForm.controls.password.errors.required">
            كلمة المرور مطلوبة
          </div>
          <div *ngIf="editUserForm.controls.password.errors.minlength">
            كلمة المرور يجب أن تكون على الأقل 8 أحرف
          </div>
        </div>
      </div>
      <div class="flex flex-col items-start justify-start gap-1.5 self-stretch">
        <div class="flex items-center justify-end gap-2 self-stretch">
          <div
            class="shrink grow basis-0 text-right text-sm font-medium leading-snug text-gray-800"
          >
            رقم الهاتف
          </div>
        </div>
        <div
          class="flex items-center justify-start gap-2 self-stretch rounded-lg border border-zinc-200 bg-white px-3 py-2"
        >
          <input
            formControlName="phone"
            type="text"
            placeholder="ادخل رقم الهاتف الخاص بالمستخدم"
            class="shrink grow basis-0 text-right text-base font-normal leading-relaxed text-gray-500 outline-none"
          />
        </div>
        <div
          *ngIf="
            editUserForm.controls.phone.invalid &&
            (editUserForm.controls.phone.dirty ||
              editUserForm.controls.phone.touched)
          "
          class="text-sm text-red-600"
        >
          <div *ngIf="editUserForm.controls.phone.errors.required">
            نوع المستخدم مطلوب
          </div>
        </div>
      </div>
      <button
        type="submit"
        [ngClass]="{
          'cursor-pointer bg-blue-600': editUserForm.valid,
          'cursor-not-allowed bg-gray-400': editUserForm.invalid,
        }"
        [disabled]="editUserForm.invalid"
        class="mt-2 inline-flex h-[52px] items-center justify-center gap-2 self-stretch rounded-xl px-4"
      >
        <div
          class="text-center text-base font-medium leading-relaxed text-white"
        >
          تعديل مستخدم
        </div>
      </button>
      <div *ngIf="errorMessage" class="flex w-full justify-center text-red-600">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>

